{{!< default}}

{{#author}}

<nav>
	<div class="toggle-menu">
	    <div id="icon">
	        <div class="one"></div>
	        <div class="two"></div>
	        <div class="three"></div>
	    </div>

	    <div id="menu">
	        <ul>
	            <li>
	            	<a href=""><span><i class="fa fa-twitter"></i></span> Twitter</a> 
	            </li>
	            <li>
	            	<a href=""><span><i class="fa fa-github"></i></span> Github</a>
	            </li>
	            <li>
	            	<a href="{{@blog.url}}/rss/"><span><i class="fa fa-rss"></i></span> RSS</a>
	            </li>                
	        </ul>
	    </div> 
	 </div>
</nav>

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	<figure class="logo">
		{{#if @blog.logo}}<a href="{{@blog.url}}"><img class="img-logo" src="{{@blog.logo}}" alt="Logo Blog"></a>{{/if}}
	</figure>
	<div class="title">
		<a href="{{@blog.url}}">
			<h1>{{name}}</h1>
		</a>
		{{#if bio}}
			<p>{{{bio}}}</p>
		{{/if}}
	</div>
</header>

{{/author}}

<section class="posts">

	{{> "loop"}}

</section>