<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/screen.css"}}">

	{{ghost_head}}
</head>
<body class="{{body_class}}">

	{{{body}}}

	<footer class="blog-footer">
		<div class="inner">
			<p>Publicado con <a href="http://ghost.org">Ghost.</a></p>
		</div>
	</footer>

	{{ghost_foot}}
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

	<script>

		//Menu Toggle
		$("#icon").click(function() {
		    $(this).toggleClass("active");
	        $("#menu").fadeToggle();
        });

		//Code Highlighter
        $(document).ready(function() {
          $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });
        });

        //Google Analytics

	</script>
	
</body>
</html>