{{!< default}}

{{#post}}

{{> "menu"}}

<header class="main-header {{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
	{{#if @site.logo}}
	<figure class="logo">
		<a href="{{@site.url}}"><img class="img-logo" src="{{@site.logo}}" alt="Logo Blog"></a>
	</figure>
	{{/if}}
	<div class="title">
		<a href="{{@site.url}}">
			<h1>{{@site.title}}</h1>
		</a>
		<p>{{@site.description}}</p>
	</div>
</header>

<section class="posts">

	<article class="{{post_class}}">
		<div class="inner">
			<header class="header-post">
				<h2 class="title-post">{{{title}}}</h2>
			</header>

			<section class="content-post">
				{{content}}
			</section>

			{{/post}}

		</div>
	</article>

</section>
